{% extends "layout_client.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container" style="margin-top:150px">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">{{ access_token }}</div>
    </div>
    <div class="copyright"> CodeRunner © 2016 </div>
</div>
{% endblock %}